
body{	
	
	background-color:#555;
	margin: 0 auto;	
}

#container {
	/*width: 1200px;
	*/
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

#super_container {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}
#editor-pane {
	/*width: 1200px;*/
	width:100%;
	height: 400px;
/*	border: thin; */
	background-color:#000;
}

#preview-pane {
	/*width: 1200px;*/
	width:100%;
	position: absolute;
}

.editor {
	
	width: 50%;
	height: 400px;
}

#editor_one {
	position: absolute;
}

#editor_two {		
	left: 50%;
	position: relative;
}

#preview {
	width: 100%;
	height: 800px;
	background-color:#FFF;
}

#side_bar_left {
	/*
	width: 100px; 
	height: 1000px;
	float: left; 
	background-color:#FFF;
	*/
}

#file_tree {
	width: 300px;
	height: 400px;
	border-top: solid 1px #BBB;
	border-left: solid 1px #BBB;
	border-bottom: solid 1px #FFF;
	border-right: solid 1px #FFF;
	background: #FFF;
	overflow: scroll;
	padding: 5px;	
	
}

.divider {
	
	height: 30px;
	background-color:#666;
	background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* IE10+ */
background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}


/*

<!--this was for making a textarea the entire size of the div -->
.boxsizingBorder {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-box-sizing: border-box;
}

textarea {
	width: 100%;
	height: 100%;
}

*/